%background-full {
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

%background-bottom {
  background-size:cover;
  background-position:bottom;
  background-repeat:no-repeat;
}
