/*portfolio site for Michael Bragg, web programmer*/
.vision .jumbotron {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.projects .site-preview .preview-background .preview-logo {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat; }

/* .snow-anim {
  width: 100%;
  height:140%;
  background: url('../images/clouds3.png');
  background-size:60% 180%;
  background-repeat:repeat-x;

  animation-name: cloud-move;
  animation-duration: 35s;
  animation-iteration-count: infinite;
}

@keyframes cloud-move {
  0% {
    background-position: left 0% bottom 120%;
  }
  99% {
    background-position: left 60% bottom 120%;
  }
  100% {
    background-position: left 0% bottom 120%;
  }
} */

p {
  font-family: "Bree Serif", serif; }

.image-container {
  max-width: 100%;
  height: auto;
  overflow: hidden; }

.image-container img {
  max-width: 100%;
  height: auto;
  max-height: 100%; }

.navbar {
  font-family: "Abril Fatface", sans-serif; }
  .navbar li {
    line-height: 50px;
    padding-right: 1rem; }
    .navbar li:active {
      background-color: #f8f8f8;
      text-shadow: 1px 1px 2px #a0a0ab; }
  .navbar img {
    height: 35px;
    width: auto; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit; }

/*mobile styling for header*/
@media only screen and (max-width: 768px) {
  .navbar-nav {
    display: flex; }

  .navbar-nav li {
    padding-left: 1rem; } }
/*-----------------*/
/*jumbotron styling*/
/*-----------------*/
.vision {
  padding-top: 3rem; }
  .vision .jumbotron {
    background-image: url("../images/snowy-mountains.jpg");
    position:relative;
    height: 40rem;
    text-align: center;
    margin-bottom: 0;
    padding: 0;
    padding-top: }
  .vision h1 {
    color: #070712;
    opacity: .95;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: "Abril Fatface", sans-serif;
    font-size: 8rem;
    font-weight: bold;
    letter-spacing: 1.4rem;
    text-shadow: 1px 1px 5px rgba(220, 220, 236, 0.6),
                3px 1px 8px rgba(220, 220, 236, 0.6),
                1px 1px rgba(220, 220, 236, 0.6),
                -1px 1px rgba(220, 220, 236, 0.6),
                1px -1px rgba(220, 220, 236, 0.6),
                -1px -1px rgba(220, 220, 236, 0.6); }

/*mobile styling for jumbotron section*/
@media only screen and (max-width: 768px) {
  .vision {
    padding-top: 4rem; }

  .vision h1 {
    padding-top: 7rem; } }


/* ---------------------- */
/* project picker styling */
/* ---------------------- */

.headline {
  font-family: "Bree Serif", serif;
  font-size: 3rem;
  text-align: left;
  color: white;
  width: auto;

  background: linear-gradient(90deg, rgba(255,255,255,0.1), rgba(30, 30, 30, 0.01));
  text-shadow: 1px 1px 2px rgba(30, 30, 30, .9),
              -1px 1px 2px rgba(30, 30, 30, .9),
              1px -1px 2px rgba(30, 30, 30, .9),
              -1px 1px 2px rgba(30, 30, 30, .9),
              1px 1px 6px rgba(30, 30, 30, .9);
  margin-top: 5rem;
}

.project-picker {
  margin-top: 0;
  display: flex;
  height: 120px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.project-picker label {
  width: 7vw;
  height: 100px;
  overflow: hidden;
  margin-bottom: 0;
  border: 3px inset rgba(255, 255, 255, 0);
  transition: border 0.2s;
}

@media only screen and (max-width: 768px) {
  .headline {
    margin-top: 7rem;
  }

  .project-picker {
    height: 70px;
  }

  .project-picker label {
    width: 15vw;
    height: 60px;
  }


}

.project-picker img {
  height: 100%;
  width: 90%;
  transform: scale(2);
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.3s;
}

.sr-only {
  height: 1px;
  width: 1px;
  margin: -1px;
}

.radio-project {
  display:none;
}

.project-picker input:checked + label {
  border: 3px inset rgba(255, 255, 15,.8);
}

.project-picker input:checked + label img {
  transform: scale(2.5);
  opacity: 1;
}


/*----------------*/
/*projects styling*/
/*----------------*/
.projects-row {
  display: block;

}

.project {

}

.projects {
  background-image: url("../images/snow3.jpg");

  padding-bottom: 4rem;
  background-size: contain;
  background-repeat: repeat;
  height: auto; }
  .projects .decor {
    background-color: rgba(25, 30, 50, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0; }
    .projects .decor .image-container {
      margin: .4rem 0;
      max-width: 80%;
      opacity: .9; }
    .projects .decor img {
      height: 90%; }
  .projects .decor-top {
    height: 3.5rem;
    margin-top: 2rem; }
  .projects .site-preview {
    position: relative;
    /* height:46rem; */
    opacity: .8;
    padding-left: 0;
    padding-right: 0;
    box-shadow: -3px 3px rgba(25, 30, 50, 0.8);
    transition: box-shadow 500ms ease-in 70ms; }
    .projects .site-preview:hover {
      box-shadow: none; }
    .projects .site-preview .preview-background {
      height: 100%;
      max-width: 100%;
      background-color: #3f3f4e;
      color: #dedef6;
      padding-left: 1rem;
      padding-top: .5rem;
      opacity: 0;
      z-index: 900;
      transition: opacity 500ms ease-in 260ms; }
      .projects .site-preview .preview-background:hover {
        opacity: .95; }
      .projects .site-preview .preview-background .preview-logo {
        background-image: url("../images/mountains-accent2alt.png");
        width: auto;
        max-width: 50%;
        padding-top: 20%;
        height: 15%;
        margin: auto;
        margin-top: 6%; }
  .projects .alliance-preview .preview-logo {
    max-width: 35%;
    height: 8%; }

.alliance-preview .preview-logo {
  max-width: 35%;
  height: 8%; }

.preview-background:hover {
  opacity: .95; }

.preview-background h2 {
  color: #f2f2fb;
  font-family: "Abril Fatface", sans-serif;
  text-shadow: 1px 1px #1b1b2c, -1px 1px #1b1b2c, 1px -1px #1b1b2c, -1px -1px #1b1b2c; }

.preview-background .image-container {
  margin-top: 1rem; }

.alliance-preview .preview-background:hover {
  color: rgba(242, 242, 251, 0.6); }

.link-split {
  display: flex;
  height: 40%; }

.site-link {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: dotted 1px #dedef6; }

.github-link {
  width: 50%;
  height: auto;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.robopig-preview {
  background-image: url("../images/robopigd.jpg");
  background-size: contain;
  background-position: center;
  background-size: cover; }

.alliance-preview {
  background-image: url("../images/bragg-group-comp2b.jpg");
  background-position: center;
  background-size: cover;
  height: 70rem; }

.colmar-preview {
  background-image: url("../images/colmarC.jpg");
  background-position: top center;
  background-size: cover; }

.trackster-preview {
  background-image: url("../images/tracksterC.jpg");
  background-position: center;
  background-size: cover; }

.jumpstart-preview {
  background-image: url("../images/jumpstartC.jpg");
  background-position: center;
  background-size: cover; }

.match-game-preview {
  background-image: url("../images/match-gameC.jpg");
  background-position: contain;
  background-size: cover; }


/*mobile styling for projects section*/
@media only screen and (max-width: 1199px) {
  .preview-logo {
    max-width: 40%;
    height: 8%; }

  .projects-row {
    margin-left: .5rem;
    margin-right: .5rem;
    width: calc(100% - 1rem); } }
/*mobile styling for projects section*/
@media only screen and (max-width: 768px) {
  .decor-top {
    margin-top: 10rem; } }
/*footer styling*/
footer {
  text-align: left;
  background-color: rgba(25, 30, 50, 0.6); }

footer .jumbotron {
  background-color: inherit;
  padding-left: 40%;
  margin-bottom: 0; }

footer h2 {
  font-family: "Abril Fatface", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: .6rem;
  color: #070712;
  text-shadow: 1px 1px #dedef6, -1px 1px #dedef6, 1px -1px #dedef6, -1px -1px #dedef6; }

footer .jumbotron p {
  margin-bottom: .8rem;
  color: #dedef6; }

/*footer styling for mobile*/
@media only screen and (max-width: 1199px) {
  footer .jumbotron {
    padding-left: 20%; } }
@media only screen and (max-width: 768px) {
  footer .jumbotron {
    padding-left: 15%; }

  footer .jumbotron p {
    font-size: 1.6rem; } }

/*# sourceMappingURL=style.css.map */
